{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

<div class="container" style="margin-top: 150px;">

   <div class="container">
    <div class="row justify-content-md-center">
   
      <div class="col-md-auto">
        <h1 style="text-align: center;     color: #d52a1a;"><p >Oops! Accès  Interdit </p></h1>

  <img src="https://cdn.dribbble.com/users/1370067/screenshots/5500923/secure.png" alt="" style="width: 500px;" class="animated pulse  infinite">
      </div>
    
    </div>
    
  </div>


    

</div>
      {% endblock %}