{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="container-fluid" style="margin-top:150px;" >

    <div class="container-fluid">
         <a href="{{path('allboks')}}"> <i class="fa fa-reply-all fa-4x animated pulse  infinite " aria-hidden="true" style="float: right;    color: #deb34b;
  margin-right: 32px;"></i></a>
        <div class="row justify-content-md-center">
       
          <div class="col-md-auto">
            <img src="https://i.pinimg.com/originals/a7/37/45/a7374590c10d5ec0b891913d303112e9.jpg" alt="">
        </div>
         
        </div>
</div>



  
{%endblock%}